# Configuración de la aplicación
APP_NAME="Ticket System"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Europe/Madrid
APP_URL=http://localhost:8280

# Puertos
APP_PORT=8280
VITE_PORT=5200
FORWARD_DB_PORT=5432

# Configuración regional
APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=es_ES

# Mantenimiento
APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# Servidor CLI de PHP
PHP_CLI_SERVER_WORKERS=4

# Seguridad
BCRYPT_ROUNDS=12

# Configuración de registros
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Configuración de la base de datos
DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=tickets
DB_USERNAME=sail
DB_PASSWORD=password

# Configuración de la sesión
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

# Configuración de correo
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

# Configuración de caché
CACHE_STORE=database
CACHE_PREFIX=

# Configuración de Memcached
MEMCACHED_HOST=127.0.0.1

# Configuración de Redis
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# Configuración de Vite
VITE_APP_NAME="${APP_NAME}"
VITE_HOST=localhost

# Configuración de AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

# Registro de usuarios
REGISTRATION_ENABLED=true