@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

:root {
  --text: #7c6fa6;
  --bg: #0B0B0F;
  --secondary: #ededed;
}

.glassmorph {
  background: rgba(124, 111, 166, 0.70);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(124, 111, 166, 0.3);
}