@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

:root {
  --text: #7c6fa6;
  --bg: #0B0B0F;
  --secondary: #ededed;
}

.glassmorph {
  background: rgba(124, 111, 166, 0.70);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(124, 111, 166, 0.3);
}

/*GLOW PUNTERO*/

#cursor-glow {
  position: fixed;
  width: 300px;
  height: 300px;

  pointer-events: none;
  border-radius: 50%;

  background: radial-gradient(
    circle,
    rgba(124, 111, 166, 0.7) 0%,
    rgba(124, 111, 166, 0.25) 40%,
    transparent 70%
  );

  filter: blur(55px);
  transform: translate(-50%, -50%);
  opacity: 0;

  transition: opacity 0.2s ease;
  z-index: 9999;
}

.trail {
  position: fixed;
  width: 150px;
  height: 150px;
  pointer-events: none;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0, 150, 255, 0.3), transparent);
  filter: blur(30px);
  transform: translate(-50%, -50%);
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.feature {
  transition: transform 0.2s ease-out;
  will-change: transform;
}

/*SCROLL HORIZONTAL*/

.slider {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.track img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  flex-shrink: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider:hover .track {
  animation-play-state: paused;
}

/*CARDS EFFECT SCROLL*/

.card {
  transition: transform 0.3s ease, opacity 0.3s ease;
  will-change: transform, opacity;
  transform-origin: center;
}